<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
             
        <div th:replace="~{fragment :: styles}"></div>
          
        <title>レビュー投稿</title>   
    </head>
    <body>
        <div class="samuraitravel-wrapper">
            <!-- ヘッダー -->
            <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 samuraitravel-container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-8">
                            <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">                        
                                    <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/stores}">店舗一覧</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/stores/${store.getId()}}">店舗詳細</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">レビュー投稿</li>
                                </ol>
                            </nav>
                            
                            <!-- h1タグへth:textでstore.getName() + 'のレビュー投稿'を設定 -->
                            <h1 class="mb-4 text-center" th:text="${store.getName()} + 'のレビュー投稿'"></h1> 
                                      
                            <!-- フォームタグへth:actionで/stores/(storeのgetId())/reviews/createを設定、さらにth:objectでreviewRegisterFormを指定 -->
                            <form method="post" th:action="@{/stores/__${store.getId()}__/reviews/create}" th:object="${reviewRegisterForm}">                                                                                            
                                <div class="form-group row mb-3">
                                    <div class="col-md-3">
                                        <label for="score" class="col-form-label text-md-left fw-bold">評価</label>
                                    </div>
                                    <div class="col-md-9">                                    
                                        <!-- divタグへth:ifにて#fields.hasErrorsのscoreを設定。th:errorsにてsocreを設定 -->
                                        <div class="text-danger small mb-2" th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></div>                                    
                                        <!-- selectタグへth:fieldにてscoreを設定 -->
                                        <select th:field="*{score}">
                                            <option value="1">☆1</option>
                                            <option value="2">☆2</option>
                                            <option value="3">☆3</option>
                                            <option value="4">☆4</option>
                                            <option value="5">☆5</option>
                                        </select>
                                    </div>
                                </div>                               
                                
                                <div class="form-group row mb-3">
                                    <div class="col-md-3">
                                        <label for="content" class="col-form-label text-md-left fw-bold">コメント</label>
                                    </div>
                                    <div class="col-md-9">                            
                                        <!-- divタグへth:ifにて#fields.hasErrorsのcontentを設定。th:errorsにてcontentを設定 -->
                                        <div class="text-danger small mb-2" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>                                        
                                        <!-- textareaタグへth:fieldにてcontentを設定。 -->
                                        <textarea class="form-control" th:field="*{content}" cols="30" rows="5"></textarea>
                                    </div>
                                </div>                                                                                                                       
                                
                                <div class="form-group d-flex justify-content-center my-4">
                                    <button type="submit" class="btn text-white shadow-sm w-50 samuraitravel-btn">投稿</button>
                                </div>
                            </form>                                                          
                        </div>
                    </div>
                </div>                             
            </main>
            
            <!-- フッター -->
            <div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <div th:replace="~{fragment :: scripts}"></div>  
    </body>
</html>