<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
           
         <title>店舗一覧</title>   
     </head>
     <body>
         <div class="samuraitravel-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container samuraitravel-container pb-5">
                     <div class="row justify-content-center">
                         <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                             <ol class="breadcrumb mb-0">                        
                                 <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                 <li class="breadcrumb-item active" aria-current="page">店舗一覧</li>
                             </ol>
                         </nav>         
             
                         <div class="col-xl-3 col-lg-4 col-md-12">               
                             <form method="get" th:action="@{/stores}" class="w-100 mb-3">
                                 <div class="input-group">
                                     <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="店舗名・目的地">
                                     <button type="submit" class="btn text-white shadow-sm samuraitravel-btn">検索</button> 
                                 </div>               
                             </form>
             
                             <div class="card mb-3">
                                 <div class="card-header">
                                     エリアから探す
                                 </div>
                                 <div class="card-body">
                                     <form method="get" th:action="@{/stores}" class="w-100">
                                         <div class="form-group mb-3">
                                             <select class="form-control form-select" name="area">  
                                                 <option value="" hidden>選択してください</option>  
                                                  
                                                 <optgroup label="うなぎ">                                      
                                                     <option value="うなぎ" th:selected="${area == 'うなぎ'}">うなぎ</option>
                                                      <option value="ひつまぶし" th:selected="${area == 'ひつまぶし'}">ひつまぶし</option>
                                                 </optgroup>                
                                                 <optgroup label="味噌カツ">                                  
                                                     <option value="味噌カツ" th:selected="${area == '味噌カツ'}">味噌カツ</option>                                                
                                                     <option value="ソースカツ" th:selected="${area == 'ソースカツ'}">ソースカツ</option>
                              
                                                 </optgroup>
                                                 <optgroup label="味噌煮込みうどん">  
                                                     <option value="味噌煮込みうどん（太麺）" th:selected="${area == '味噌煮込みうどん（太麺）'}">味噌煮込みうどん（太麺）</option>
                                                     <option value="味噌煮込みうどん（細麺）" th:selected="${area == '味噌煮込みうどん（細麺）'}">味噌煮込みうどん（細麺）</option>
                                                  </optgroup>
                                                 <optgroup label="どて煮"> 
                                                     <option value="どて煮（甘め）" th:selected="${area == 'どて煮（甘め）'}">どて煮（甘め）</option>
                                                     <option value="どて煮（濃いめ）" th:selected="${area == 'どて煮（濃いめ）'}">どて煮（濃いめ）</option>
                                                 </optgroup>
                                                 <optgroup label="味噌おでん"> 
                                                     <option value="味噌おでん（薄め）" th:selected="${area == '味噌おでん（薄め）'}">味噌おでん（薄め）</option>
                                                     <option value="味噌おでん（濃いめ）" th:selected="${area == '味噌おでん（濃いめ）'}">味噌おでん（濃いめ）</option>
                                                 </optgroup>
                                                 <optgroup label="手羽先"> 
                                                     <option value="手羽先（薄め）" th:selected="${area == '手羽先（薄め）'}">手羽先（薄め）</option>
                                                     <option value="手羽先（濃いめ）" th:selected="${area == '手羽先（濃いめ）'}">手羽先（濃いめ）</option>
                                                 </optgroup>
                                                 <optgroup label="小倉トースト">
                                                     <option value="小倉トースト（こしあん）" th:selected="${area == '小倉トースト（こしあん）'}">小倉トースト（こしあん）</option>
                                                     <option value="小倉トースト（つぶあん）" th:selected="${area == '小倉トースト（つぶあん）'}">小倉トースト（つぶあん）</option>
                                                 </optgroup>
                                                 <optgroup label="名古屋コーチン">
                                                     <option value="親子丼" th:selected="${area == '親子丼'}">親子丼</option>
                                                     <option value="からあげ" th:selected="${area == 'からあげ'}">からあげ</option>
                                                 </optgroup>
                                                 <optgroup label="あんかけスパ">
                                                     <option value="あんかけスパ（薄め）" th:selected="${area == 'あんかけスパ（薄め）'}">あんかけスパ（薄め）</option>
                                                     <option value="あんかけスパ（濃いめ）" th:selected="${area == 'あんかけスパ（濃いめ）'}">あんかけスパ（濃いめ）</option>
                                                 </optgroup>
                                                 <optgroup label="中華">
                                                     <option value="町中華" th:selected="${area == '町中華'}">町中華</option>
                                                     <option value="高級中華" th:selected="${area == '高級中華'}">高級中華</option>
                                                 </optgroup>
                                             </select> 
                                         </div>
                                         <div class="form-group">
                                             <button type="submit" class="btn text-white shadow-sm w-100 samuraitravel-btn">検索</button>
                                         </div>                                           
                                     </form>
                                 </div>
                             </div>                
             
                             <div class="card mb-3">
                                 <div class="card-header">
                                     1回あたりの予算から探す
                                 </div>
                                 <div class="card-body">
                                     <form method="get" th:action="@{/stores}" class="w-100">
                                         <div class="form-group mb-3">    
                                             <select class="form-control form-select" name="price">
                                                 <option value="" hidden>選択してください</option> 
                                                 <option value="6000" th:selected="${price == 6000}">6,000円以内</option>
                                                 <option value="7000" th:selected="${price == 7000}">7,000円以内</option>
                                                 <option value="8000" th:selected="${price == 8000}">8,000円以内</option>
                                                 <option value="9000" th:selected="${price == 9000}">9,000円以内</option>
                                                 <option value="10000" th:selected="${price == 10000}">10,000円以内</option>
                                             </select>                                                                                
                                         </div>
                                         <div class="form-group">
                                             <button type="submit" class="btn text-white shadow-sm w-100 samuraitravel-btn">検索</button>
                                         </div>                                           
                                     </form>
                                 </div>
                             </div>                               
                         </div>
             
                         <div class="col">                                                                          
                             <div class="d-flex justify-content-between flex-wrap">                                
                                 <p th:if="${storePage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + storePage.getTotalElements() + '件' + '（' + (storePage.getNumber() + 1) + ' / ' + storePage.getTotalPages() + ' ページ）'}"></p> 
                                 <p th:unless="${storePage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + storePage.getTotalElements() + '件'}"></p>                                 
                            
                            <form method="get" th:action="@{/stores}" class="mb-3 samuraitravel-sort-box"> 
                                     <input th:if="${keyword}" type="hidden" name="keyword" th:value="${keyword}">
                                     <input th:if="${area}" type="hidden" name="area" th:value="${area}">
                                     <input th:if="${price}" type="hidden" name="price" th:value="${price}">                                      
                                     <select class="form-select form-select-sm" name="order" onChange="this.form.submit();">
                                         <option value="createdAtDesc" th:selected="${order == 'createdAtDesc' || order == null}">新着順</option>                                            
                                         <option value="priceAsc" th:selected="${order == 'priceAsc'}">料金が安い順</option>
                                     </select>   
                                 </form>      
                             </div>   
                                                                         
                             <div class="mb-3" th:each="store : ${storePage}">
                                 <a th:href="@{/stores/__${store.getId()}__}" class="link-dark samuraitravel-card-link">
                                     <div class="card h-100">   
                                         <div class="row g-0">
                                             <div class="col-md-4">                                                                                
                                                 <img th:if="${store.getImageName()}" th:src="@{/storage/__${store.getImageName()}__}" class="card-img-top samuraitravel-horizontal-card-image" alt="店舗画像">                                                     
                                                 <img th:unless="${store.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top samuraitravel-horizontal-card-image" alt="NO IMAGE">                                                    
                                             </div> 
                                             <div class="col-md-8">                                                                                                                        
                                                 <div class="card-body">                                    
                                                     <h3 class="card-title mb-3" th:text="${store.getName()}"></h3>                                            
  
                                                     <hr class="mb-3">
                                                     
                                                     <p class="card-text mb-2">
                                                         <span th:text="${store.getDescription()}"></span>
                                                     </p>                                                    
                                                     
                                                     <p class="card-text mb-2">
                                                         <small class="text-muted" th:text="${'〒' + store.getPostalCode()}"></small>
                                                         <small class="text-muted" th:text="${store.getAddress()}"></small>                                                      
                                                     </p>   
                                                                                                                                                                                                                                    
                                                     <p class="card-text">
                                                         <span th:text="${#numbers.formatInteger(store.getPrice(), 1, 'COMMA') + '円 / 泊'}"></span>
                                                     </p>                                    
                                                 </div>
                                             </div>
                                         </div>
                                     </div>    
                                 </a>            
                             </div>                                                                                       
             
                             <!-- ページネーション -->
                             <div th:if="${storePage.getTotalPages() > 1}" class="d-flex justify-content-center">
                                 <nav aria-label="店舗一覧ページ">
                                     <ul class="pagination">
                                         <li class="page-item">
                                             <span th:if="${storePage.isFirst()}" class="page-link disabled">前</span>
                                             <a th:unless="${storePage.isFirst()}" th:href="@{/stores(page = ${storePage.getNumber() - 1}, keyword = ${keyword}, area = ${area}, price = ${price}, order = ${order})}" class="page-link samuraitravel-page-link">前</a>
                                         </li>
                                         <li th:each="i : ${#numbers.sequence(0, storePage.getTotalPages() - 1)}" class="page-item">
                                             <span th:if="${i == storePage.getNumber()}" class="page-link active samuraitravel-active" th:text="${i + 1}"></span>
                                             <a th:unless="${i == storePage.getNumber()}" th:href="@{/stores(page = ${i}, keyword = ${keyword}, area = ${area}, price = ${price}, order = ${order})}" class="page-link samuraitravel-page-link" th:text="${i + 1}"></a>
                                         </li>
                                         <li class="page-item">                        
                                             <span th:if="${storePage.isLast()}" class="page-link disabled">次</span>
                                             <a th:unless="${storePage.isLast()}" th:href="@{/stores(page = ${storePage.getNumber() + 1}, keyword = ${keyword}, area = ${area}, price = ${price}, order = ${order})}" class="page-link samuraitravel-page-link">次</a>
                                         </li>
                                     </ul>
                                 </nav> 
                             </div>                                      
                         </div>
                     </div>
                 </div>  
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
   </body>
 </html>