<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
             
        <div th:replace="~{fragment :: styles}"></div>
        
        <!-- Flatpickr -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
         
          
        <title>店舗詳細</title>   
    </head>
    <body>
        <div class="samuraitravel-wrapper">
            <!-- ヘッダー -->
            <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 samuraitravel-container">
                    <div class="row justify-content-center">
                        <div class="col-xxl-9 col-xl-10 col-lg-11">
                            <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">                        
                                    <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/stores}">店舗一覧</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
                                </ol>
                            </nav> 
                            
                            
                             <!-- お気に入り機能 ここから -->
                                 <div sec:authorize="isAuthenticated()">
									 
                                 <div th:if="${favoriteFlag}" class="d-flex justify-content-end">
                                 <a href="#" onclick="event.preventDefault(); document.getElementById('favorite-form').submit();">&#9829; お気に入り解除</a>
                                  <form id="favorite-form" method="post" th:action="@{/stores/__${store.getId()}__/favorites/__${favorite.getId()}__/delete}">
                                  </form>
                                  </div> 
                                   
                                 <div th:unless="${favoriteFlag}" class="d-flex justify-content-end">
                                 <a href="#" onclick="event.preventDefault(); document.getElementById('favorite-form').submit();">&#9825; お気に入り追加</a>
                                 <form id="favorite-form" method="post" th:action="@{/stores/__${store.getId()}__/favorites/create}">
                                 </form>
                                 </div>
                             </div>
                             <!-- お気に入り機能 ここまで -->
                             
                            
                            <h1 class="mb-4 text-center" th:text="${store.getName()}"></h1>  
                            
                          <!-- divタグへth:ifにてsuccessMessageを設定 -->
                            <div class="alert alert-info" th:if="${successMessage}">
                                <!-- spanタグへth:textにてsuccessMessageを設定 -->
                                <span th:text="${successMessage}"></span>
                            </div>                                                           
                            
                            <div th:if="${errorMessage}" class="alert alert-danger">
                                <span th:text="${errorMessage}"></span>
                            </div>                                                                         
                            
                            <div class="mb-4">
                                <img th:if="${store.getImageName()}" th:src="@{/storage/__${store.getImageName()}__}" class="w-100" alt="店舗画像">
                                <img th:unless="${store.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
                            </div> 
                            
                            <div class="container">  
                                <div class="row">
                                    <div class="col-lg-8 container mb-4">            
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">店舗名</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${store.getName()}"></span>
                                            </div>
                                        </div>                    
                    
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">説明</span>
                                            </div>
                    
                                            <div class="col">
                                                <span class="samuraitravel-pre-wrap" th:text="${store.getDescription()}"></span>
                                            </div>
                                        </div>
                    
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">宿泊料金</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${#numbers.formatInteger(store.getPrice(), 1, 'COMMA') + '円'}"></span>
                                            </div>
                                        </div> 
                                        
                                       <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">定員</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${store.getCapacity() + '人'}"></span>
                                            </div>
                                        </div>                                
                                        
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">郵便番号</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${store.getPostalCode()}"></span>
                                            </div>
                                        </div>   
                                        
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">住所</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${store.getAddress()}"></span>
                                            </div>
                                        </div>   
                                        
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">電話番号</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${store.getPhoneNumber()}"></span>
                                            </div>
                                        </div>                                
                                    </div>
                                    
                                    <div sec:authorize="isAnonymous()" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
                                        <div class="card">
                                            <div class="card-body">                                                                                                                                                                                                                     
                                                <p class="card-text">予約するには<a th:href="@{/login}">ログイン</a>が必要です。</p>                                                                                                                                            
                                                <button type="submit" class="btn text-white shadow-sm w-100 samuraitravel-btn" disabled>予約する</button>                                                                                                                
                                            </div>
                                        </div>  
                                    </div>
                                    
                                    <div sec:authorize="isAuthenticated()" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
                                        <div class="card">
                                            <div class="card-body"> 
                                                <form method="get" th:action="@{/stores/__${store.getId()}__/reservations/input}" th:object="${reservationInputForm}">                                                                                                                                                                       
                                                    <div class="form-group mb-2">                                            
                                                        <label for="fromCheckinDateToCheckoutDate" class="col-form-label text-md-left fw-bold">チェックイン・チェックアウト</label>    
                                                        <div th:if="${#fields.hasErrors('fromCheckinDateToCheckoutDate')}" class="text-danger small mb-2" th:errors="*{fromCheckinDateToCheckoutDate}"></div>                                          
                                                        <input type="text" class="form-control" th:field="*{fromCheckinDateToCheckoutDate}">                                                                     
                                                    </div>
                                                    
                                                    <div class="form-group mb-4">                                            
                                                        <label for="numberOfPeople" class="col-form-label text-md-left fw-bold">宿泊人数</label>  
                                                        <div th:if="${#fields.hasErrors('numberOfPeople')}" class="text-danger small mb-2" th:errors="*{numberOfPeople}"></div>                                            
                                                        <input type="number" class="form-control" th:field="*{numberOfPeople}" min="1">                                                                     
                                                    </div>
                                                                                                            
                                                    <div class="form-group">
                                                        <button type="submit" class="btn text-white shadow-sm w-100 samuraitravel-btn">予約する</button>
                                                    </div>
                                                </form>                                                                     
                                            </div>
                                        </div>  
                                    </div>  
                                                                                                                                                         
                                </div>                                                                                             
                            </div>
                            
                            <!-- レビュー機能 ここから -->
                            <div class="container px-0">
                                <h2 class="mb-4 text-center">レビュー</h2>
                                <!-- divタグへsec:authorizeにてログイン済みを設定。またth:unlessにてreviewFlagを設定 -->
                                <div class="row justify-content-center mb-4" sec:authorize="isAuthenticated()" th:unless="${reviewFlag}">
                                    <div class="col-lg-4">
                                        <!-- aタグへth:hrefにて/stores/(storeのgetId())/reviews/registerを設定 -->
                                        <a th:href="@{/stores/{storeId}/reviews/register(storeId=${store.getId()})}" class="btn text-white shadow-sm w-100 samuraitravel-btn">レビューを投稿する</a>
                                    </div>
                                </div>
                                <!-- divタグへth:ifにてreviewListが無い(##lists.isEmpty)を設定 -->
                                <div class="mb-4" th:if="${#lists.isEmpty(reviewList)}">                                    
                                    <p class="text-center">まだレビューがありません。</p>                                    
                                </div>                                                                 
                                <!-- divタグへth:unlessにてreviewListが無い(##lists.isEmpty)を設定 -->
                                <div class="row row-cols-1 row-cols-md-2 g-4 mb-4" th:unless="${#lists.isEmpty(reviewList)}">
                                    <!-- divタグへth:eachでreviewListをreviewで使用出来るように設定 -->
                                    <div th:each="review : ${reviewList}">
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between">
                                                        <!-- h5タグへth:textでreview.getUser()のgetName()を設定 -->
                                                        <h5 class="card-title" th:text="${review.getUser().getName()}"></h5>
                                                        <!-- spanタグへsec:authorizeにてログイン済みを設定。またth:ifにて#authentication.principal.user.id == reviewのgetUser.getId()を設定 -->
                                                        <span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.id == review.getUser().getId()}">
                                                            <!-- aタグへth:hrefにて/stores/(storeのgetId())/reviews/(reviewのgetId())/editを設定 -->
                                                            <a class="me-2" th:href="@{/stores/{storeId}/reviews/{reviewId}/edit(storeId=${store.getId()}, reviewId=${review.getId()})}">編集</a>
                                                            <a href="#" class="samuraitravel-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteReviewModal' + review.getId()}">削除</a>
                                                            <!-- ここに削除用モーダルを追加 -->
                                                            <div class="modal fade" th:id="${'deleteReviewModal' + review.getId()}" tabindex="-1" th:aria-labelledby="${'deleteReviewModalLabel' + review.getId()}">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <div class="modal-header">
                                                         <h5 class="modal-title" th:id="${'deleteReviewModalLabel' + review.getId()}">レビューを削除しますか？</h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                                     </div>
                                                     <div class="modal-footer">
                                                         <form method="post"th:action="@{/stores/__${store.getId()}__/reviews/__${review.getId()}__/delete}">
                                                             <button type="submit" class="btn samuraitravel-btn-danger text-white shadow-sm">削除</button>
                                                         </form>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div> 
                 　　　　　　　　　　  </span>
                 　　　　　　　　　　</div>                                              
                                                     <p class="card-text mb-1">
　　　　　　　　　　　　　　　　　　　　　　　　　　　　 <span th:each="star : ${#numbers.sequence(1, 5)}">
														 <span class="samuraitravel-star" th:if="${star == 1 && star == review.getScore()}">★☆☆☆☆</span>
														 <span class="samuraitravel-star" th:if="${star == 2 && star == review.getScore()}">★★☆☆☆</span>
														 <span class="samuraitravel-star" th:if="${star == 3 && star == review.getScore()}">★★★☆☆</span>
														 <span class="samuraitravel-star" th:if="${star == 4 && star == review.getScore()}">★★★★☆</span>
														 <span class="samuraitravel-star" th:if="${star == 5 && star == review.getScore()}">★★★★★</span>
                                                     </span>                                                      </p>                      
                                                     <!-- pタグへth:textでreviewのgetContent()を設定 -->
                                                     <p class="card-text" th:text="${review.getContent()}"></p>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>                                     
                                 </div>    
                                 <!-- divタグへth:ifにてtotalReviewCountが6より大きい場合を設定 -->
                                 <div class="text-center mb-4" th:if="${totalCount>6}">
                                     <!-- aタグへth:hrefにて/stores/storeのgetId()/reviewsを設定 -->
                                     <a th:href="@{/stores/__${store.getId()}__/reviews}">すべてのレビューを見る</a>
                                 </div>                                                            
                             </div> 
                             <!-- レビュー機能 ここまで -->
                             
                         </div>
                     </div>
                 </div>
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
         
         <!-- Flatpickr -->
         <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
         <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
         <script th:src="@{/js/flatpickr.js}"></script>      
   </body>
 </html>
                     
                     